{% extends "layouts/base.html" %}

{% block title %} {{_('Register')}} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row" id="login-container">
    <div class="col-md-5" id="login-card">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">
            {{_('Create Account')}}
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
            {% if msg %}
                {{ msg | safe }}
            {% else %}
                {{_('Add your credentials')}}
            {% endif %} 
          </h6>
          
          <br />
          <br />

          <!-- Hide the form on success -->
          {% if not success %}
              <form role="form" method="post" action="">

                  {{ form.hidden_tag() }}                    

                  <div class="input-group mb-3">
                    <input class="form-control" placeholder="{{_('Username')}}" id="username_create" name="username" required="" type="text" value="">
                  </div>
        
                  <div class="input-group mb-3">
                    <input class="input form-control" placeholder="{{_('Email')}}" id="email_create" name="email" p="" required="" type="email" value="">
                  </div>

                  <div class="input-group mb-4">
                    <input class="form-control" placeholder="{{_('Password')}}" id="pwd_create" name="password" p="" required="" type="password" value="">
                  </div>
                  
                  <button type="submit" name="register" class="btn btn-info shadow-2 mb-4 float-right">{{_('Confirm')}}</button>

              </form>
              
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
