{% extends "layouts/base.html" %}

{% block title %} {{_('Network Settings')}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
  <!-- Port -->
  <div class="row">
    <div class="col-md-12">
      <div class="card card-props">
        <div class="card-header card-header-success">
          <h4 class="card-title card-category float-right"> {{ _('Port')}}</h4>
        </div>
        <div class="card-avatar">
          <a href="#">
            <img class="img" src="/admin/static/assets/img/faces/listen_port.png" />
          </a>
        </div>

        <div class="card-body">
          <form id="formListenPort" method="post">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">{{_('HTTP')}}</label>
                  <input type="number" class="form-control" name="web" value="{{data.listen_port.web}}" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">{{_('Filebrowser')}}</label>
                  <input type="number" class="form-control" name="filebrowser" value="{{data.listen_port.filebrowser}}"
                    required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">{{_('NGINX')}}</label>
                  <input type="number" class="form-control" name="nginx" value="{{data.listen_port.nginx}}" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">{{_('HAPROXY')}}</label>
                  <input type="number" class="form-control" name="haproxy" value="{{data.listen_port.haproxy}}"
                    required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-danger" id="validate_msg_device"> </p>
              </div>
            </div>
            <button type="button" onclick="submitListenPort()"
              class="btn btn-primary pull-right">{{_('Confirm')}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Network  -->
  <div class="row">
    <div class="col-md-12">
      <div class="card card-props">
        <div class="card-header card-header-warning">
          <h4 class="card-title card-category float-right"> {{ _('Network Device')}}</h4>
        </div>
        <div class="card-avatar">
          <a href="#">
            <img class="img" src="/admin/static/assets/img/faces/network.png" />
          </a>
        </div>

        <div class="card-body">
          <form id="formNetwork" method="post">

            <div class="row">

              {% for dev in data.devices %}
              <div class="col-md-6">
                <div class="card card-props">
                  <div class="card-header card-header-default">
                    <h4 class="card-title text-success float-right"> {{dev.value.ifname[0:20]}}</h4>
                  </div>
                  <div class="card-avatar">
                    <a href="#">
                      <img class="img" src="/admin/static/assets/img/faces/network_device.png" />
                    </a>
                  </div>

                  <div class="card-body">
                    <div class="form-group">
                      <input type="text" class="form-control" name="ifname" value="{{dev.value.ifname}}" readonly>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating">
                        {{_('DHCP Mode')}}
                      </label>
                      <input type="number" class="form-control" name="dhcp" value="{{dev.value.dhcp}}" min="0" max="1" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating">{{_('IP')}}</label>
                      <input type="text" class="form-control" name="addr" value="{{dev.value.addr}}" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating">{{_('Gateway')}}</label>
                      <input type="text" class="form-control" name="gateway" value="{{dev.value.gateway}}" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating">{{_('Netmask')}}</label>
                      <input type="text" class="form-control" name="netmask" value="{{dev.value.netmask}}" required>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating">{{_('Mac')}}</label>
                      <input type="text" class="form-control" name="mac" value="{{dev.value.mac}}" readonly >
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="row">
              <!-- DNS -->
              <div class="col-md-12" id="div-dns-container">
                <div class="card card-props">
                  <div class="card-header card-header-default">
                    <h4 class="card-title text-primary float-right"> {{ _('DNS')}}</h4>
                  </div>
                  <div class="card-avatar">
                    <a href="#">
                      <img class="img" src="/admin/static/assets/img/faces/dns.png" />
                    </a>
                  </div>

                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{_('MDNS')}}</label>
                          <input type="text" class="form-control" name="mdns" value="{{data.mdns}}" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{_('SDNS')}}</label>
                          <input type="text" class="form-control" name="sdns" value="{{data.sdns}}" required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-danger" id="validate_msg_device"> </p>
              </div>
            </div>
            <button type="button" onclick="submitNetwork()" class="btn btn-primary pull-right">{{_('Confirm')}}</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- Route table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">{{_('Route Settings')}}</h4>
          <p class="card-category">{{_('Route table of DATS')}}</p>
        </div>
        <div class="card-body">
          
          <table class="table">
            <thead class=" text-info">
              <th>
                {{_('Gateway')}}
              </th>
              <th>
                {{ _('Network Device')}}
              </th>
              <th>
                {{_('Default')}}{{_('Gateway')}}
              </th>
            </thead>
            <tbody>
              {% for route in data.routes %}
              <tr>
                <td>
                  {{route[0]}}
                </td>
                <td>
                  {{route[3]}}
                </td>
                <td>
                  {{route[2]}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
  });

  function submitNetwork() {
    let devices = [];
    let dev = {};
    let data = {};
    let value = $('#formNetwork').serializeArray();
    let devid = 0;
    $.each(value, function (index, item) {
      if(item.name == "mdns" || item.name =="sdns") {
        data[item.name] = item.value;
      } else {
        if(dev[item.name]) {
          devices.push(dev);
          dev = {};
          devid += 1;
        }
        dev[item.name] = item.value;
        dev['id'] = devid;
      }
    });
    devices.push(dev);
    data['devices'] = devices;

    json = JSON.stringify({ "value": data });
    console.log(json);
    api_v1.put('/config/network', json, function (result, status, xhr) {
      console.log(result)
    }, function (xhr, status, error) {
      console.log(error);
    });
  }

  function submitListenPort() {
    formdata = getFormData('formListenPort');
    json = JSON.stringify({ "value": formdata });
    api_v1.put('/config/listen_port', json, function (result, status, xhr) {
      md.showNotification('top', 'right', 3, $('#msg_success').text());
    }, function (xhr, status, error) {
      md.showNotification('top', 'right', 2, $('#msg_failed').text());
    });
  };
</script>

{% endblock javascripts %}