<footer class="footer">
  <div id="footer-container">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>

          <li>
            <a target="_blank" rel="noopener noreferrer" href="http://huamaitel.com">
              {{_('Company')}}
            </a>
          </li>

        </ul>
      </nav>
      <nav class="float-right">
        <ul>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="#">
              &copy; 
              - 
              {{_('Department')}}
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="#">
              {{_('Tel')}}
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="#">
              {{_('Address')}}
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
      </div>
    </div>
  </div>
</footer>