<div class="sidebar" data-color="purple" data-background-color="white"
  data-image="/admin/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a rel="noopener noreferrer" href="/" class="simple-text logo-normal">
      <img src="/admin/static/logo-blue.png">
    </a>
  </div>
  <div class="sidebar-wrapper">

    <ul class="nav">
      <!--If account is authenticated-->
      {% if current_user.is_authenticated %}
      <li class="nav-item {% if 'index' in segment %} active {% endif %}">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>{{_('dashboard')}}</p>
        </a>
      </li>
      <!-- See role table -->
      {% if current_user.role_id == 2 %}
      <li class="nav-item {% if 'users' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/users">
          <i class="material-icons">manage_accounts</i>
          <p>{{_('User Management')}}</p>
        </a>
      </li>
      {% endif %}
      <li class="nav-item {% if 'profile' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/profile">
          <i class="material-icons">person</i>
          <p>{{_('User Profile')}}</p>
        </a>
      </li>
      <!-- Settings -->
      <li class="nav-item {% if 'system' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/system">
          <i class="material-icons">bubble_chart</i>
          <p>{{_('System Settings')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'network' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/network">
          <i class="material-icons">device_hub</i>
          <p>{{_('Network Settings')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'app-tcp' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/app-tcp">
          <i class="material-icons">view_headline</i>
          <p>{{_('TCP Proxy Management')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'app-httpx' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/app-httpx">
          <i class="material-icons">storage</i>
          <p>{{_('HTTP/S Proxy Management')}}</p>
        </a>
      </li>
      <!-- User Manual -->
      <li class="nav-item {% if 'manual' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/manual">
          <i class="material-icons">library_books</i>
          <p>{{_('User Manual')}}</p>
        </a>
      </li>
      <!--Logout-->
      <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('base_blueprint.logout') }}">
          <i class="material-icons">exit_to_app</i>
          <p>{{_('Logout')}}</p>
        </a>
      </li>

      <!-- <li class="nav-item  ">
        <a target="_blank" rel="noopener noreferrer" class="nav-link"
          href="{{link}}">
          <i class="material-icons">link</i>
          <p>{{_('link')}}</p>
        </a>
      </li> -->
      {% else %}
      <!--If account is not authenticated-->
      <li class="nav-item ">
        <a target="_blank" rel="noopener noreferrer" class="nav-link" href="{{ _('Manual Download URL')}}">
          <i class="material-icons">cloud_download</i>
          <p>{{ _('Manual Download')}}</p>
        </a>
      </li>

      <li class="nav-item ">
        <a target="_blank" rel="noopener noreferrer" class="nav-link" href="{{_('Product Information URL')}}">
          <i class="material-icons">download</i>
          <p>{{_('Product Information')}}</p>
        </a>
      </li>

      {% endif %}

    </ul>


  </div>

</div>