<div class="sidebar" data-color="purple" data-background-color="white"
  data-image="/admin/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a rel="noopener noreferrer" href="/" class="simple-text logo-normal">
      <img src="/admin/static/logo-blue.png">
    </a>
  </div>
  <div class="sidebar-wrapper">

    <ul class="nav">
      <!--If account is authenticated-->
      {% if current_user.is_authenticated %}
      <li class="nav-item {% if 'index' in segment %} active {% endif %}">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>{{_('dashboard')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-user-manage' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/ui-user-manage">
          <i class="material-icons">manage_accounts</i>
          <p>{{_('User Management')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/page-user">
          <i class="material-icons">person</i>
          <p>{{_('User Profile')}}</p>
        </a>
      </li>
      <!-- Settings -->
      <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/ui-icons">
          <i class="material-icons">bubble_chart</i>
          <p>{{_('System Settings')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/ui-maps">
          <i class="material-icons">location_ons</i>
          <p>{{_('Network Settings')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/ui-tables">
          <i class="material-icons">content_paste</i>
          <p>{{_('TCP Proxy Management')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/ui-tables">
          <i class="material-icons">content_paste</i>
          <p>{{_('HTTP/S Proxy Management')}}</p>
        </a>
      </li>
      <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/ui-notifications">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>
      <!-- User Manual -->
      <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
        <a class="nav-link" href="/admin/ui-typography">
          <i class="material-icons">library_books</i>
          <p>{{_('User Manual')}}</p>
        </a>
      </li>
      <!--Logout-->
      <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('base_blueprint.logout') }}">
          <i class="material-icons">directions_run</i>
          <p>Logout</p>
        </a>
      </li>

      <!-- <li class="nav-item  ">
        <a target="_blank" rel="noopener noreferrer" class="nav-link"
          href="{{link}}">
          <i class="material-icons">link</i>
          <p>{{_('link')}}</p>
        </a>
      </li> -->
      {% else %}
      <!--If account is not authenticated-->
      <li class="nav-item ">
        <a target="_blank" rel="noopener noreferrer" class="nav-link" href="{{ _('Manual Download URL')}}">
          <i class="material-icons">cloud_download</i>
          <p>{{ _('Manual Download')}}</p>
        </a>
      </li>

      <li class="nav-item ">
        <a target="_blank" rel="noopener noreferrer" class="nav-link" href="{{_('Product Information URL')}}">
          <i class="material-icons">download</i>
          <p>{{_('Product Information')}}</p>
        </a>
      </li>

      {% endif %}

    </ul>


  </div>

</div>